.example-spacer {
  flex: 1 1 auto;
}

app-login{
  display: flex;
  justify-content: center;
}


.mat-toolbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.mat-toolbar a.active {
  font-weight: bold;
  text-decoration: underline;
}