<mat-toolbar style="justify-content:left;">
  <span class="titulo">Gestão de Finanças</span>
  <ng-container *ngIf="isHome">
    <div class="vertical-separator"></div>
    <a mat-button [routerLink]="'/home'" routerLinkActive="active">Página Inicial</a>
    <a mat-button [routerLink]="'/inserir_valores'" routerLinkActive="active">Inserir Valores</a>
    
    <span class="spacer"></span>

    <button mat-button class="botao-sair" aria-label="Logout" (click)="deslogar()">
      <mat-icon>logout</mat-icon>Sair
    </button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
