:host {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

.card-inserir{
    width: 400px;
  align-items: center;
}

mat-card-title{
  font-size: 30px;
  padding-bottom: 15px;

}

mat-form-field{
  width: 200px;
}

.botao-insere{

    background-color: green;
    color: white,
}